@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
body {
  background-color: #121212;
  color: #ffffff;
}
a {
  transition: 0.3s;
}
html {
  @apply font-Montserrat;
}
.language {
  padding: 0.6em;
  background-color: rgb(42, 42, 41);
  border-radius: 1em;
  font-weight: 900;
}
@media screen and (device-aspect-ratio: 40/71) {
  .language {
    padding: 0.2em;
  }
}
.thankyou {
  background-color: #272a3a;
}
.aboutme p {
  padding: 1em;
}
